.line-number-background {
    width: 86px;
    height: 86px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.line-number-font {
    font-size: 32px;
    font-weight: bold;
}

.time-and-icons-container {
    display: flex;
    justify-content: flex-end;
}

.line-number-and-time-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}