.bus-arrivals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
    margin-left: -10px;
}

.second-bus-arrival-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: right;
    font-size: 52.636px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -2.105px;
    font-family: "NumberFont", sans-serif;

}

.first-bus-arrival-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 52.636px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.105px;
    font-family: "BoldNunberFont", sans-serif;
}

.minutes {
    color: #000;
    font-size: 13.79px;
    margin-top: -7px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
