.line-number-circle {
    width: 86px;
    height: 86px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.line-number-font {
    font-size: 32px;
    font-weight: bold;
}

